<div class = "top-bar">
    <h1>Ella Fitzgerald</h1>
</div>

<p>Dubbed "The First Lady of Song," Ella Fitzgerald was the most popular female jazz singer in the United States for more than half a century. In her lifetime, she won 13 Grammy awards and sold over 40 million albums. Her voice was flexible, wide-ranging, accurate and ageless. She could sing sultry ballads, sweet jazz and imitate every instrument in an orchestra. She worked with all the jazz greats, from Duke Ellington, Count Basie and Nat King Cole, to Frank Sinatra, Dizzy Gillespie and Benny Goodman. (Or rather, some might say all the jazz greats had the pleasure of working with Ella). She performed at top venues all over the world, and packed them to the hilt. Her audiences were as diverse as her vocal range. They were rich and poor, made up of all races, all religions and all nationalities. In fact, many of them had just one binding factor in common - they all loved her.</p>
